.plyrContainer{
  position: relative;
  text-align: center;
  height: 100%;
  .videoInfo{
    font-size: 14px;
    color: #eee;
    position: absolute;
    bottom: 70px;
    left: 20px;
    p{
      margin: 0;
      padding: 0;
      width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  video{
    width: 80%;
    margin: 0 auto;
  }
  .actionBar{
    width: 10%;
    position: absolute;
    right: 0;
    bottom: 80px;
    opacity: .8;
    &:hover{
      opacity: 1;
    }
    :global{
      .ant-space-item{
        span{
          font-size: 15px;
          color: #eee;
          svg{
            font-size: 36px;
            transition: width .5s ease-in-out, height .5s ease-in-out;
            &:hover{
              cursor: pointer;
              width: 42px;
              height: 42px;
            }
          }
        }
      }
    }
  }
  :global{
    .plyr{
      height: 100%;
    }
    .plyr__video-wrapper{
      background-color: #333;
      height: 100%;
    }
    .plyr__controls .plyr__controls__item.plyr__progress__container{
      width: 100%;
      position: absolute;
      bottom: 40px;
      padding-left: calc(var(--plyr-control-spacing, 10px));
    }
    .plyr__controls .plyr__controls__item:first-child{
      margin-right: 0;
    }
    .plyr__controls .plyr__controls__item:nth-child(2){
      margin-right: auto;
    }
    .plyr__control--overlaid{
      background-color: transparent;
      &:hover{
        background-color: transparent;
      }
      svg{
        width: 48px;
        height: 48px;
      }
    }
    .plyr--video.plyr--hide-controls .plyr__controls{
      opacity: .5;
      transform: none;
    }
    .plyr--video .plyr__control:focus-visible, .plyr--video .plyr__control{
      &:hover{
        background-color: transparent;
      }
    }
  }
}