:global{
  .plyr__controls .plyr__controls__item.plyr__progress__container{
    width: 100%;
    position: absolute;
    bottom: 40px;
    padding-left: calc(var(--plyr-control-spacing, 10px));
  }
  .plyr__controls .plyr__controls__item:first-child{
    margin-right: 0;
  }
  .plyr__controls .plyr__controls__item:nth-child(2){
    margin-right: auto;
  }
}